.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contents-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 1024px;
    background-image: url(https://untappd.akamaized.net/site/assets/v3/images/cover_default.jpg);
    background-size: cover;
}

.main-img {
    height: 80px;
    width: 80px;
    border: 2px solid lightgrey;
    border-radius: 50%;
    margin: 0 0 20px 20px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-img img {
    max-width: 100%;
}

.page-contents {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin-top: 80px;
}

.user-contents {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin-top: 15px;
}

.user-photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
}

.user-photos span {
    display: inline-block;
    height: 136px;
    width: 136px;
    box-sizing: border-box;
    background: blue;
}

.page-left {
    box-sizing: border-box;
    width: 700px;
}

.page-right {
    box-sizing: border-box;
    width: 300px;
}

.box {
    box-shadow: 0 1px 2px lightgray;
    height: 200px;
    background: white;
    margin-bottom: 20px;
}