body {
    background: #FFF8EA;
}

/* Posts index */
.posts-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
    background: white;
}

.posts-wrapper h3 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.posts {
    box-shadow: 0 1px 2px lightgray;
}


/* Post items */
.post {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 20px 20px 30px 20px;
}

.post-top {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    right: 10px;
}

.post-body {
    position: relative;
    left: 40px;
}

.profile-img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.profile-img img {
    max-width: 100%;
}

.post-info {
    width: 515px;
    box-sizing: border-box;
    padding: 0 10px;
}

.post-info a {
    text-decoration: none;
    color: #cc6600;
}

.post-info a:hover {
    color: #ffa143;
}



.beer-logo {
    height: 42px;
    width: 42px;
}

.beer-logo img {
    max-width: 100%;
}

.post-arrow {
    position: absolute;
    background: white;
    left: 30px;
    top: -10px;
    height: 20px;
    width: 20px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transform: rotate(45deg);
    z-index: 5;
}

.post-content {
    border: 1px solid lightgray;
    box-shadow: 0 1px 2px lightgray;
    width: 500px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
}

.post-image {
    height: 200px;
    width: 500px;
    background: lightgreen;
    margin-bottom: 10px;
}

.post-time {
    color: gray;
    margin-right: 10px;
}

.post-show a {
    text-decoration: none;
    color: #cc6600;
}