.login-signup {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

input:focus { outline: none}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signup-form {
    position: relative;
    background: white;
    height: 90%;
    width: 36%;

}

#signup-form input{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin: 5px 0;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 15px;
}

#signup-form input[type=text]::placeholder{
    color: silver;
    text-indent: 1em;
    font-size: 1.3em;
}

#signup-form input[type=submit]{
    width: 40%;
    height: 45px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    background: gold;
}

#signup-form input[type=button]{
    width: 40%;
    height: 45px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    background: limegreen;
}

#signup-form input[type=submit]:hover{
    background: goldenrod;
}
#signup-form input[type=button]:hover{
    background: greenyellow;
}

.row {
    display: flex;
    justify-content: space-around;
}

.form-field {
    width: 45%;
}

.submit-form {
    display: flex;
    justify-content: space-around;
}

.form-logo {
    display: flex;
    justify-content: center;
    height: 110px;
}

.form-info {
    display: flex;
    justify-content: center;
    
}

.form-info p {
    background: #FFFCA5;
    width: 93%;
    padding: 5px 18px;
    box-sizing: border-box;
    opacity: .8;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    line-height: 1.3em;
    color: rgb(99, 96, 96);
}

.form-info p a {
    text-decoration: none;
    color: firebrick;
}

.form-info p a:hover {
    color: tomato;
}

.form-user-info {
    display: flex;
    justify-content: center;
    margin: 20px 0 18px 0;
    font-size: .85em;
}

.form-user-info p {
    font-weight: 500;
    color: gray;
}

.form-password-info {
    display: flex;
    justify-content: center;
    margin: 15px 0 5px 0;
    font-size: .85em;
}

.privacy-statement {
    display: flex;
    justify-content: center;
    
}

.privacy-statement p {
    font-size: .7em;
    color: rgb(94, 89, 89);
    width: 70%;
    text-align: center;
    margin: 8px;
}

.privacy-statement a {
    text-decoration: none;
    color: firebrick;
}

.privacy-statement a:hover {
    text-decoration: none;
    color: tomato;
}

.row-space {
    height: 50px;
}

.recaptcha {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#demo {
    width: 30%;
    height: 45px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    background: gold;
}