.login-signup {
    position: absolute;
    top: 0px;
    height: 100vw;
    width: 100vw;
    background-image: url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
    background-size: cover;
    filter: brightness(25%);
    z-index: -1;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form {
    
}